#peliculas{
    h2,h3{
        text-align: center;
        padding: 10px;
    }
    .lista-pelis{
        @extend .flex-row;
        div{
            padding: 10px;
            margin: 10px;
            @extend .flex-column;
            button{
                    @extend .button;
            }
        }
    }
}

